<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Built by Michelle K Jamieson</span>
    </div>
    <div class="bottom">
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
      <span>2021</span>
      <br>
      <span style="font-size:11px;">Designed By <a class="underline-link" href="http://github.com/bchiang7" target="_blank">Brittany Chiang</a></span>
    </div>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</footer>
